{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb", 
    "airbnb/hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1, 
      { 
        "extensions": [
          ".js"
        ] 
      }
    ]
  }
}